.container {
  position: relative;
  min-width: 380px;
  background: var(--color-white);
  padding: 30px 20px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  text-align: center;

  h3 {
    margin: 0;
  }
}

.buttons-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;

  button {
    min-width: 160px;
    width: 100%;
    background: var(--color-purple-300);
    border-radius: 3px;
    border: none;
    padding: 15px;
    gap: 10px;
    color: var(--color-white);
  }
}
