.form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  max-width: 400px;
  width: 100%;

  h1 {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-600);
    text-align: center;
  }
}

.form-label {
  height: 72px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-transform: capitalize;
  line-height: 17px;

  span {
    color: var(--color-purple-300);
    font-weight: var(--font-weight-600);
    margin-bottom: 5px;
  }

  input {
    height: 50px;
    background: var(--color-purple-200);
    border-radius: 3px;
    border: none;
  }
}

.form-button {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 3px;
  margin-top: 5px;
  background: var(--color-purple-300);
  color: var(--color-white);
  cursor: pointer;
}

.message-container {
  display: flex;
  column-gap: 10px;
  margin-top: 30px;
}

.message-button {
  color: var(--color-purple-300);
  text-decoration: underline;
  cursor: pointer;
}
