.form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-width: 400px;
  width: 100%;

  h1 {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-600);
    text-align: center;
  }
}

.form-label {
  height: 89px;
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  flex-grow: 1;
  line-height: 17px;
}

.form-button {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  background: var(--color-purple-300);
  color: var(--color-white);
  cursor: pointer;
}

.message-container {
  display: flex;
  column-gap: 10px;
  margin-top: 30px;
}

.message-button {
  color: var(--color-purple-300);
  text-decoration: underline;
  cursor: pointer;
}

.title {
  color: var(--color-purple-300);
  font-weight: var(--font-weight-600);
}

.info-wrapper {
  margin: 20px 0;

  p {
    margin: 15px 0;
  }
}

.title-info {
  margin-right: 5px;
  min-width: 50px;
  width: 100%;
  color: var(--color-purple-300);
  font-weight: var(--font-weight-600);
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  height: 130px;
  margin-bottom: 10px;
}
