.title {
  color: var(--color-purple-300);
  font-weight: var(--font-weight-600);
  margin-bottom: 5px;
}

.input {
  height: 50px;
  background: var(--color-purple-200);
  border-radius: 3px;
  border: none;
  padding: 0 15px;
  outline-color: var(--color-purple-300);
}

.input-error {
  outline-color: var(--color-red);
}

.error {
  color: var(--color-red);
  font-size: var(--font-size-100);
}
