.column-item {
  list-style: none;
  max-width: 438px;
  min-height: 175px;
  background: var(--color-white);
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  opacity: 0.9;
}

.column-item:hover {
  opacity: 1;
}

.column-top {
  display: flex;
  justify-content: space-between;
}

.column-title {
  max-width: 250px;
  padding: 10px;
  margin: 0;
}

.column-img {
  max-width: 24px;
  max-height: 24px;
  border-radius: 6px;
}

.column-img:hover {
  box-shadow: var(--shadow);
}

.column-bottom {
  padding: 10px;
  font-size: var(--font-size-100);
  color: var(--color-gray-300);
}
