.p {
  margin: 0;
  white-space: pre-wrap;
}

.about-project p {
  max-width: 600px;
  width: fit-content;
  padding: 20px;
  background: var(--color-black);
  color: var(--color-white);
  border: 1px solid var(--color-black);
}

.about-project:hover p {
  background-color: var(--color-white);
  color: var(--color-black);
}
