.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.h1 {
  padding: 30px 20px;
  margin: 0;
}

.wrapper {
  max-width: 1145px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, auto));
  gap: 30px;
  margin: 0 auto;
  padding: 0 20px;
}

.board-item,
.add-board-board {
  list-style: none;
  max-width: 438px;
  min-height: 175px;
  box-shadow: var(--shadow);
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.add-board-board {
  background: var(--color-gray-100);
  justify-content: center;
  align-items: center;
}

.board-item:hover,
.add-board-board:hover {
  box-shadow: var(--shadow-hover);
}

.board-top {
  display: flex;
  justify-content: space-between;
}

.board-title {
  max-width: 250px;
  padding: 10px;
  margin: 0;
}

.board-img {
  max-width: 24px;
  max-height: 24px;
}

.board-img:hover {
  box-shadow: var(--shadow);
}

.board-bottom {
  padding: 10px;
}

.plus-img {
  width: 40px;
  height: 40px;
  opacity: 0.5;
}
