.wrapper {
  position: fixed;
  width: 100%;
  inset: 0;
  background: var(--overlay-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-wrapper {
  background: var(--color-white);
  border-radius: 3px;
  max-width: 380px;
  width: 100%;
}
