.video-player {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.navigation-wrapper {
  position: fixed;
  bottom: 0;
  background: var(--not-found-page-background);
  width: 100%;
  height: 100%;
}

.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navigation-button {
  font-size: var(--font-size-600);
  width: 100;
  height: 100%;
  background: none;
  border: none;
  color: var(--color-gray-100);
}
