.li {
  list-style: none;
}

.button,
.button-active {
  background: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 0;
}

.button-active {
  color: var(--color-purple-300);
}
