.card-wrapper {
  display: flex;
  max-width: 850px;
  column-gap: 50px;
}

.card-image {
  max-width: 240px;
  width: 100%;
  height: 260px;

  img {
    height: 100%;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  max-width: 553px;
  width: 100%;
  row-gap: 4px;

  h3 {
    margin: 0;
    font-size: var(--font-size-300);
  }
}
