.wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  row-gap: 20px;

  p {
    margin: 0;
  }
}

.title {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  font-weight: var(--font-weight-600);

  input {
    background: var(--color-purple-200);
    border-radius: 3px;
    padding: 13px;
    border: none;
  }
}
