*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
  font-size: var(--font-size-200);
  font-style: normal;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input,
button {
  color: inherit;
  font: inherit;
}
