:root {
  --font-size-100: 14px;
  --font-size-200: 16px;
  --font-size-300: 18px;
  --font-size-400: 24px;
  --font-size-500: 30px;
  --font-size-600: 45px;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --overlay-background: rgb(0 0 0 / 10%);
  --modal-background: #c9c9eb;
  --color-black: #000;
  --color-white: #fff;
  --color-red: #e74c3c;
  --color-purple-100: #5030e533;
  --color-purple-200: #5030e51a;
  --color-purple-300: #5030e5;
  --color-purple-400: #0d062d;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #dbdbdb;
  --color-gray-300: #787486;
  --shadow: 0 0 4px 1px #0000001a;
  --shadow-hover: 0 0 8px 2px #0000001a;
  --shadow-hover-200: 0 0 16px 4px #0000001a;
  --not-found-page-background: #000000b3;
}
