:root {
  --font-size-100: 16px;
  --overlay-background: rgb(0 0 0 / 10%);
  --modal-background: #c9c9eb;
  --footer-background-color: #768be7;
  --color-black: #000;
  --color-white: #fff;
  --color-purple-100: #5030e533;
  --color-purple-200: #5030e51a;
  --color-purple-300: #5030e5;
  --color-purple-400: #0d062d;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #dbdbdb;
  --color-gray-300: #787486;
  --shadow: 0 0 4px 1px #0000001a;
  --shadow-hover: 0 0 8px 2px #0000001a;
}
