.wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  row-gap: 20px;

  p {
    margin: 0;
  }
}

.title {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  color: var(--color-purple-300);
  font-weight: var(--font-weight-600);

  input {
    background: var(--color-purple-200);
    border: 3px none;
    height: 50px;
  }
}

.description {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  color: var(--color-purple-300);
  font-weight: var(--font-weight-600);

  input {
    background: var(--color-purple-200);
    border: 3px none;
    height: 90px;
  }
}

.button {
  background: var(--color-purple-300);
  border: 3px none;
  color: var(--color-white);
  height: 49px;
}
