.wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  row-gap: 20px;

  p {
    margin: 0;
  }
}

.title {
  display: flex;
  row-gap: 5px;
  flex-direction: column;

  input {
    background: var(--color-purple-200);
    border-radius: 3px;
    padding: 13px;
    border: none;
  }

  span {
    color: var(--color-purple-300);
    font-weight: var(--font-weight-600);
  }
}

.description-title {
  color: var(--color-purple-300);
  font-weight: var(--font-weight-600);
}

.description-writable {
  font-family: Inter, sans-serif;
  width: 100%;
  min-height: 90px;
  border-radius: 3px;
  padding: 13px;
  border: none;
  resize: none;
  background: var(--color-purple-200);
  outline-color: var(--color-purple-300);
}

.title-readable,
.description-readable {
  overflow-wrap: break-word;
}

.button {
  background: var(--color-purple-300);
  border-radius: 3px;
  color: var(--color-white);
  padding: 13px;
  border: none;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
